In [19]:
import pandas

df = pandas.read_csv('merged_data.csv', parse_dates=['date'])

data = df.drop(['date'], axis=1)
data.index = df['date']

cols = data.columns


train = data[:int(0.8*(len(data)))]
valid = data[int(0.8*(len(data))):]

In [52]:
from statsmodels.tsa.vector_ar.var_model import VAR

model = VAR(endog=train)
model_fit = model.fit()




prediction = model_fit.forecast(model.y, steps=len(valid))



pred = pandas.DataFrame(index=range(0,len(prediction)),columns=cols)
for j in range(0,2):
    for i in range(0, len(prediction)):
       pred.iloc[i][j] = prediction[i][j]


for i in cols:
    print('rmse value for', i, 'is : ', sqrt(mean_squared_error(pred[i], valid[i])))

/home/dmitriy/.local/lib/python3.8/site-packages/statsmodels/tsa/base/tsa_model.py:536: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
<ipython-input-52-f1d45ab6c174>:9: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  prediction = model_fit.forecast(model.y, steps=len(valid))

       arrivals    new_cases
0    416.893293   488.593647
1    401.019642   852.649165
2    386.290057   1191.99282
3    372.621979  1508.323845
4    359.938808  1803.223359
..          ...          ...
117  196.326018  5929.885252
118  196.323208  5930.055169
119  196.320593  5930.215057
120   196.31816   5930.36552
121  196.315896  5930.507122

[122 rows x 2 columns]